.iconR{
	height: 65%;
	background-color: #f4f3f3;
}
.research_input{
	width: 80%;
	height: 70%;
	border: none;
	border-top: solid 1px #f2f2f2;
	border-bottom: solid 1px #f2f2f2;
	padding: 0 0 0 20px;

}
.button_rsearch{
	background-color: #0065fc;
	color: white;
	font-weight: bold ;
	width: 53px;
	height: 67%;
	border: none;
	border-radius: 18px;
}
.searchIcon{
	display: initial;
}
.rechercher{
	display: none;
}